/* shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* header styles */
.header {
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
}

.header-nav {
    display: flex;
}


.nav-title {
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding: 40px 0px 0px 240px;
    margin-bottom: 0px;

}

.nav-description {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 0px 0px 240px;
    margin-top: 0px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-left: 240px;
}

.nav-img {
    width: 635px;
    height: 800px;
    /* flex-shrink: 0; */
    /* display: block; */
    /* margin-bottom: 0px; */
    padding: 50px 240px 0px 97px;
}

/* main section styles */
.main {
    width: 1920px;
    height: 4867px;
    background-color: #fff;
}

.main-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 10px 243px 10px 243px;

}

.main-para {
    text-align: center;
}

.main-description {
    /* width: 600px; */
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* text-align: center; */
    /* margin-left: 63px; */
    /* margin-right: 63px; */
    /* display: block; */
    /* padding: 10px 243px 20px 243px; */
}

.images {
    margin: 30px;
}

.img-1 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    width: 464px;
    height: 538px;
    flex-shrink: 0;

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.img-2 {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.img-3 {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}